<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>webdemo</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ValidationCode</servlet-name>
		<servlet-class>webdemo.ValidationCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidationCode</servlet-name>
		<url-pattern>/validation_code</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>webdemo.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>webdemo.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MacServlet</servlet-name>
		<servlet-class>dbservlet.MacServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MacServlet</servlet-name>
		<url-pattern>/MacServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PerpasswordServlet</servlet-name>
		<servlet-class>dbservlet.PerpasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PerpasswordServlet</servlet-name>
		<url-pattern>/PerpasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppServlet</servlet-name>
		<servlet-class>dbservlet.AppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppServlet</servlet-name>
		<url-pattern>/AppServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AndroidServlet</servlet-name>
		<servlet-class>dbservlet.AndroidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidServlet</servlet-name>
		<url-pattern>/AndroidServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>dbservlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProgressBarServlet</servlet-name>
		<servlet-class>dbservlet.ProgressBarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProgressBarServlet</servlet-name>
		<url-pattern>/ProgressBarServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			f:/temp/
		</param-value>
	</context-param>
	<filter>
		<filter-name>LoginFilterWithJump</filter-name>
		<filter-class>filter.LoginFilterWithJump</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilterWithJump</filter-name>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/main.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilterWithoutJump</filter-name>
		<filter-class>filter.LoginFilterWithoutJump</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilterWithoutJump</filter-name>
		<url-pattern>/current_MAC/*</url-pattern>
		<url-pattern>/dbservlet/*</url-pattern>
		<url-pattern>/perpasswordfile/*</url-pattern>
		<url-pattern>/appfile/*</url-pattern>
		<servlet-name>MacServlet</servlet-name>
		<servlet-name>AppServlet</servlet-name>
		<servlet-name>CurrentMacServlet</servlet-name>
		<servlet-name>PerpasswordServlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilterWithSameUser</filter-name>
		<filter-class>filter.LoginFilterWithSameUser</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilterWithSameUser</filter-name>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/main.jsp</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>400</error-code>
		<location>/ErrorPage/400.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/ErrorPage/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/ErrorPage/500.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/ErrorPage/401.html</location>
	</error-page>
</web-app>